[submodule "dependencies/z3-interp-plus"]
	path = dependencies/z3-interp-plus
	url = https://github.com/typesAreSpaces/z3-interp-plus
[submodule "tests/sv-benchmarks"]
	path = tests/sv-benchmarks
	url = https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks.git
