[submodule "tests/sv-benchmarks"]
	path = tests/sv-benchmarks
	url = https://github.com/sosy-lab/sv-benchmarks
[submodule "dependencies/z3-interp-plus"]
	path = dependencies/z3-interp-plus
	url = https://github.com/typesAreSpaces/z3-interp-plus
[submodule "sv-benchmarks"]
	path = sv-benchmarks
	url = https://github.com/sosy-lab/sv-benchmarks
