*.o
*.DS_Store
*.clangd
*.cache
*compile_commands.json

bin/*
include/z3*
include/_*
lib/libz3*

output/*.smt2

tests/benchmark/bin/*
tests/verification-files/files/*
tests/benchmark/results/scripts/__pycache__/*

sessions/*
