.DS_Store
dependencies/.DS_Store
.clangd/*
*.o
bin/*
include/z3*
lib/libz3*
output/*.smt2
renamed_AXDInterpolant
sessions/*
tests/benchmark/bin/*
tests/benchmark/.clangd/*
tests/verification-files/files/*
