.DS_Store
dependencies/.DS_Store
.clangd/*
*.o
bin/*
include/z3*
include/_*
lib/libz3*
output/*.smt2
renamed_AXDInterpolant
sessions/*
tests/benchmark/bin/*
tests/benchmark/.clangd/*
tests/verification-files/files/*
tests/benchmark/results/scripts/__pycache__/*
*.cache/*
tests/benchmark/.cache/*
compile_commands.json
